@import "@/src/app/shortClasses.scss";

// components/SortOptions/style.scss

.sort-options-container {
  @include flex(center, flex-start);
  @include f-direction(column);
  width: fit-content;
  border-radius: 5px;
  background-color: var(--dark-grey);
  overflow: hidden;

  .sort-options-title {
    @include flex(space-between, center);
    @include f-direction(row);
    background-color: var(--primary);
    width: calc(100% - 30px);
    padding: 9px 15px;
    border-radius: 5px;
    cursor: pointer;

    p {
      font-size: 14px;
      font-weight: 500;
    }
  }

  .sort-options-list {
    display: flex;
    max-height: 0;
    transition: max-height 0.3s ease;
    flex-direction: column;
    padding: 0 15px;
    background-color: var(--dark-grey);
    border-radius: 5px;
    overflow-y: auto;

    button {
      @include flex(flex-start, center);
      @include f-direction(row);
      padding: 10px 0 5px 0;
      gap: 5px;
      color: var(--white);
      font-weight: 300;
      text-wrap: nowrap;
      font-size: 14px;
      cursor: pointer;
    }

    &::-webkit-scrollbar {
      width: 5px;
      height: 1px;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-track {
      background: var(--dark-grey);
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--grey);
      border-radius: 5px;
    }
  }

  &.open {
    .sort-options-list {
      max-height: 200px; // set your desired max height here
    }
  }
}
