@import "@/src/app/shortClasses.scss";

.aiSwiper {
  display: none;

  @include max-w-media(500px) {
    display: flex;
  }

  .swiper-slide {
    width: fit-content;
    margin: 0 15px;
  }

  .ai-item {
    max-width: 290px;
  }
}
