@import "@/src/app/shortClasses.scss";

.news-list-container {
  @include flex(flex-start, flex-start);
  @include f-direction(row);
  flex-wrap: wrap;
  gap: 25px 50px;
  width: 100%;
  .news-item {
    @include flex(center, center);
    @include f-direction(column);
    gap: 20px;

    position: relative;

    max-width: 290px;
    width: 100%;
    padding: 10px;

    background-color: var(--dark-grey);
    color: var(--white);

    border-radius: 15px;

    .top-box {
      position: relative;

      height: 200px;
      width: 100%;

      .prev-img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 5px;
      }
    }

    .content-box {
      @include flex(flex-start, flex-start);
      @include f-direction(column);

      gap: 15px;
      width: 100%;

      .news-title-box {
        @include flex(flex-start, flex-start);
        @include f-direction(column);
        gap: 10px;

        .news-name {
          font-size: 18px;
          font-weight: 600;
        }

        .news-preview {
          font-size: 14px;
          font-weight: 400;
          color: var(--dark-white);
        }
      }

      .news-info {
        @include flex(space-between, center);
        @include f-direction(row);
        width: 100%;

        .time-to-read-box {
          @include flex(center, center);
          @include f-direction(row);
          gap: 5px;

          .icon {
            width: 18px;
            height: 18px;
          }

          .time-to-read {
            font-size: 14px;
            font-weight: 400;
            color: var(--dark-white);
          }
        }

        .data-post {
          font-size: 14px;
          font-weight: 400;
          color: var(--dark-white);
        }
      }
    }
  }
}
