@import "@/src/app/shortClasses.scss";

.copy-btn-container {
  button {
    @include flex(center, center);
    @include f-direction(row);
    width: 22px;
    height: 22px;
    background-color: var(--dark-grey);
    border-radius: 5px;

    .icon {
      width: 16px;
      height: 16px;
    }
  }
}
