.accordion {
  width: 100%;

  .accordion-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    img {
      width: 24px;
      height: 24px;
    }
  }
}
