@import "./fonts.scss";
@import "./shortClasses.scss";

:root {
  --blue: #4098ff;

  --black: #1b1b1b;
  --half-black: #242424;
  --white: #fbfbfb;
  --darck-grey: #323232;
  --grey: #d3d3d3;
}

::-webkit-scrollbar {
  width: 5px;
  height: 1px;
}

::-webkit-scrollbar-track {
  background: var(--black);
}

::-webkit-scrollbar-thumb {
  background: var(--blue);
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--white);
  transition: 0.3s;
}

ul {
  list-style: none;
}

input[type="text"],
input[type="search"],
button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  color: var(--white);
  font-family: "Steppe";
  font-size: 14px;
  font-weight: 400;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
  outline: none;
}

::placeholder {
  color: var(--grey);
  font-family: "Steppe";
}

body {
  font-family: "Steppe";
  background-color: var(--black);
  color: var(--white);
}

.container {
  @include container();
}

.btn-box {
  @include flex(flex-start, center);
  @include f-direction(row);
  gap: 12px;
}

.btn {
  padding: 10px 15px;
  display: flex;
  border-radius: 5px;
  transition: 0.3s;
  color: var(--white);

  &:hover {
    transition: 0.1s;
    -webkit-box-shadow: 0px 0px 5px 0px var(--blue);
    -moz-box-shadow: 0px 0px 5px 0px var(--blue);
    box-shadow: 0px 0px 5px 0px var(--blue);
  }

  a:hover {
    color: var(--white);
  }
}

.btn-active {
  background-color: var(--blue);
}

.btn-inactive:hover {
  transition: 0.1s;
  border: 1px solid var(--blue);
}
