@import "@/src/app/shortClasses.scss";

.ai-list-container {
  @include flex(space-between, flex-start);
  @include f-direction(row);
  flex-wrap: wrap;
  gap: 25px;
  width: 100%;

  .ai-item {
    @include flex(center, center);
    @include f-direction(column);
    gap: 20px;

    position: relative;

    max-width: 290px;
    width: 100%;
    padding: 10px;

    background-color: var(--dark-grey);
    color: var(--white);

    border-radius: 15px;

    .prev-img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-radius: 5px;
    }

    .content-box {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: flex-start;
      width: 100%;
    }
  }
}
